{% extends 'base.html' %} 
{% block title %}Contact Us{% endblock title %} 
{% block keywords %} cotact us {% endblock keywords %}
{% block description %}
    Thank you for your interest in our Media work and services. For any inquiries, commission requests, event management or studio visits, please contact us today and we’ll be happy to assist you
{% endblock description %}
{% block og:description %}
    Thank you for your interest in our Media work and services. For any inquiries, commission requests, event management or studio visits, please contact us today and we’ll be happy to assist you
{% endblock og:description %} 
{% block og:image %} {% endblock og:image %}
{% block og:title %}Contact Us{% endblock og:title %}
{% block content %} 
{% load static %}


    <!-- Header Start -->
    <div class="container-fluid hero-header bg-dark py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown text-white">Contact Us</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid bg-white p-3 w-100" src="{% static 'img/contact-1.jpg' %}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid bg-white p-3 w-100" src="{% static 'img/contact-1.1.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div>
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% else %}
                            <p class="text-center mb-4">Thank you for your interest in our Media work and services. For any inquiries, commission requests, event management or studio visits, please contact us today and we’ll be happy to assist you</p>
                        {% endif %}
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.full_name }}
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form.email_address }}
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    {{ form.subject }}
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    {{ form.message }}
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
                            </div>
                            <div class="mb-3"></div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Google Map Start -->
    <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <iframe 
            class="w-100 mb-n2"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d247.91636024590275!2d1.2408801237474598!3d6.176014866905837!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1023e3c44042ca93%3A0x1980a1ed014ed75c!2sRealities%20Multimedia%20Concept!5e0!3m2!1sen!2sng!4v1687431540307!5m2!1sen!2sng" 
            style="height: 450px;"
            frameborder="0" 
            allowfullscreen="" 
            aria-hidden="false" 
            tabindex="0">
        </iframe>
    </div>
    <!-- Google Map End -->


{% endblock content %}