{% load static %}
<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-3 img-twice position-relative h-100">
          <div class="col-6">
            <img
              class="img-fluid bg-light p-3"
              src="{% static 'img/about-1.jpg' %}"
              alt=""
            />
          </div>
          <div class="col-6 align-self-end">
            <img
              class="img-fluid bg-light p-3"
              src="{% static 'img/about-2.jpg' %}"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <p class="text-primary text-uppercase mb-2">About Us</p>
          <h1 class="display-6 mb-4">
            We Are Creative And Professional Photographer
          </h1>
          <p>
            Realities Multimedia Concept is an African production company bringing together marketing and filmmaking professionals. 
            We provide  brands and events with highly effective video and photo content based on our experience and advanced partnerships.
          </p>
          
          <div class="row g-2 mb-4">
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-3"></i>Media Production/Training
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-3"></i>Events
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-3"></i>Travels and Logistics
            </div>
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-3"></i>PVC Cards & General Printing
            </div>
          </div>
          <a class="btn btn-primary py-3 px-5" href="{% url 'about' %}">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
      >
    <p class="text-primary text-uppercase mb-2">Why Choose Us!</p>
    </div>
    <div class="row g-3">
        <div class="col-lg-6 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="fact-item bg-light text-center h-100 p-5">
                <h1 class="display-6 mb-5">
                    We take care of every stage of the project
                </h1>
                <p>We are a full-service creative video production company. 
                    Simply send us your products, and we will take care of the entire pre-production, production, and post-production process.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.5s">
            <div class="fact-item bg-light text-center h-100 p-5">
                <h1 class="display-6 mb-5">
                    Creativity at its peak            
                </h1>
                <p>
                    We understand the uniqueness of your event/brand, we can be very creative to give your event/brand best shot to depict every moment and purpose.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="fact-item bg-light text-center h-100 p-5">
                <h1 class="display-6 mb-5">
                    The latest technology and equipment            
                </h1>
                <p>
                    As a leading product video production company, we use advanced cinema-grade technology and equipment. 
                    This includes DSLR cameras and Aperture lighting for the highest image quality.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-5 wow fadeInUp" data-wow-delay="0.5s">
            <div class="fact-item bg-light text-center h-100 p-5">
                <h1 class="display-6 mb-5">
                    We strive to help clients reach goals                   
                </h1>
                <p class="mb-2">
                    We pride ourselves in being your partners, not contractors, creating content faster, better, and more efficiently, and offering customizable service packages. 
                    We track results and are prepared to alter creatives on demand.
                </p>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Facts End -->