{% load static %}
<!-- Team Start -->
<div class="container-xxl px-0 py-5">
  <div
    class="text-center mx-auto mb-5 wow fadeInUp"
    data-wow-delay="0.1s"
    style="max-width: 500px"
  >
    <p class="text-primary text-uppercase mb-2">Our Director</p>
  </div>
  <div class="row g-0">
    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
      <div class="row g-0 flex-sm-row">
        <div class="col-sm-6">
          <div class="team-img position-relative">
            <img class="img-fluid" src="{% static 'img/director.jpg' %}"  alt="" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="h-100 p-5 d-flex flex-column justify-content-between">
            <div>
              <h4>Chukwudi Jasper Omoji</h4>
              <span>Director</span>
            </div>
            <p>
                Chukwudi Jasper Omoji had his university education at Global Wealth University – Department of Media and Mass Communication and has participated in the implementation of more than 100 projects as director, Video Editor, and Creative Designer etc. 
                He started his career professionally since 2018.<br><br>
                He is the Director of Realities Multimedia Concept, A Multi- gifted personality who has mastered various skills and wants to build a business brand from the skills he acquired. 
                A Video Editor, Graphics Designer, Web Designer, Public Speaker, Talkshow Host, Singer, Event Manager, Personal Development Coach, just to mention but a few. 
                He is determined to build an organization that will live after him and to be an entrepreneur with a difference; Building a brand that will open employment opportunities for over 1000 people in the society. He is both verbal and action oriented.
            </p>
            <div class="d-flex">
              <a
                class="btn btn-square btn-outline-primary rounded-circle me-2"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-outline-primary rounded-circle me-2"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-outline-primary rounded-circle me-2"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->