{% extends 'base.html' %} 
{% block title %}Travels and Logistics{% endblock title %}
{% block keywords %} travels and logistics services {% endblock keywords %}
{% block description %}
    The Embassy recommends not to purchase actual tickets until the visa is approved. 
    So why risk money and time? Get verifiable reservations andtravel medical insurance for any visa. No cancellation fees for reservations.
{% endblock description %}
{% block og:description %}
    The Embassy recommends not to purchase actual tickets until the visa is approved. 
    So why risk money and time? Get verifiable reservations andtravel medical insurance for any visa. No cancellation fees for reservations.
{% endblock og:description %} 
{% block og:image %} {% endblock og:image %}
{% block og:title %}Travels and Logistics{% endblock og:title %}
{% block content %} 
{% load static %}

    <div class="container-fluid hero-header bg-dark py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown text-white">Travels and Logistics</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Travels and Logistics</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid bg-white p-3 w-100" src="{% static 'img/service-3.jpg' %}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid bg-white p-3 w-100" src="{% static 'img/service-3.1.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-section pt-120">
        <div class="container">
            <div class="row g-4 d-flex justify-content-center">
            
                <div class="col-lg-12 col-md-12 col-sm-12 order-1">
                    <div class="about-card light-version" style="background-color: #f4f4f4">
                        <div class="about-content">
                            <h3>TRAVELS AND LOGISTICS</h3>
                            <p style="text-align: justify"><p>
                                <span style="font-size:24px">
                                    The Embassy recommends not to purchase actual tickets until the visa is approved. 
                                    So why risk money and time? Get verifiable reservations andtravel medical insurance for any visa. No cancellation fees for reservations.
                                </span>
                            </p>
    
                            <h5>Flight itinerary</h5>
    
                            <p style="text-align: justify"><p>
                                <span style="font-size:24px">
                                    We provide verifiable one way, round trip, and multi-city flight bookings for any country visa within minutes at an affordable price without you having to pay for actual tickets. 
                                    Pay only SERVICE FEE.
                                </span>
                            </p>
    
                            <h5>Hotel booking</h5>
    
                            <p style="text-align: justify"><p>
                                <span style="font-size:24px">
                                    Get your hotel bookings for any city in the world within minutes. 
                                    Perfect for visa purposes. 
                                    Group discounts available. 
                                    We take care of cancellations at no cost to you. 
                                    Pay only SERVICE FEE.
                                </span>
                            </p>
    
                            <h5>Visa Application/Consultation</h5>
    
                            <p style="text-align: justify"><p>
                                <span style="font-size:24px">
                                    Your data is secure with us. 
                                    We take care of filling your visa application form for any country’s visa. 
                                    We also give you professional advice on the Pay only SERVICE FEE.
                                </span>
                            </p>    
                        </div>           
                    </div>
                    <div class="mb-2"></div>
                    <center>
                        <a class="btn btn-primary py-3 px-5" href="{% url 'services' %}">Go Back To Services</a>
                    </center>
                </div>
                
            </div>
        </div>
    </div>
        

{% endblock content %}